body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: linear-gradient(90deg, #7d5fff, #715be2);
}

.division {
    position: relative;
    height: 50px;
}

.division .input_field {
    background-color: #fff;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    /* padding: 15px; */
    width: 48px;
    height: 49px;
    transition: width 0.3s ease;
}

.division .btn {
    background-color: #fff;
    border: none;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 51px;
    width: 50px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.input_field:focus, .btn:focus {
    outline: 0;
}

.division.hidden .input_field {
    width: 200px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
}

.division.hidden .btn {
    transform: translateX(198px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
}




/*default style*/
/* *{
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

.container{
    width: 360px;
    max-width: 360px;
    margin: 200px auto;
}

h1{
    text-align: center;
}

.search-container{
    position: relative;
    display: flex;
    width: 50px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

}

.search-container input{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border:1px solid black;
    padding: 10px;
}

.search-button{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    outline: none;
}

/* apply this style with javascript*/
/*.search-container.active input{
    width: 180px;
    height: 30px;
    border-radius: 5px;
    border:1px solid black;
    padding: 10px;
    transition: width 0.5s ease;
}

.search-container.active .search-button{
  transform: translateX(100px);
  transition: width 0.5s ease;
} */
